.container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.wrapper {
    position: relative;
}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s all;
    cursor: pointer;
    &_blue {
        background-color: blue;
        clip: rect(0, 100px, 100px, 0);
    }
    &_red {
        background-color: red;
        clip: rect(0, 200px, 100px, 100px);
    }
    &_yellow {
        background-color: orange;
        clip: rect(100px, 100px, 200px, 0);
        
    }
    &_green {
        background-color: green;
        clip: rect(100px, 200px, 200px, 100px);
    }
}
.btn {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    width: 150px;
    padding: 15px 0;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgba($color: grey, $alpha: .5);
    color: white;
    transition: .3s all;
    &:hover {
        background-color: rgba($color: grey, $alpha: 1);
    }
}
.round {
    position: absolute;
    font-size: 25px;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
}
.level {
    position: absolute;
    right: 100px;
    top: 50px;
    &__title {
        font-size: 25px;
    }
}